@import url('https://fonts.googleapis.com/css?family=Roboto');



$font-1: 'Roboto', sans-serif;

$color-1: #3ebda5;

$width1: 1170px;

html body {
  font-size: 16px;
  font-family: $font-1;
}

@import "global";
@import "navbar";
@import "carousel";
@import "menuBranch";
@import "computers";
@import "urunler";
@import "Referanslar";
@import "iletisim";
@import "ortaclarimiz";
@import "servise";
@import "footer";
.breadcrumb {
  background-color: transparent;
  > .active {
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s all;
    &:hover {
      color: #121212;
    }
  }
}
.form-control {
  border:2px solid #ccc;
}
.carousel-inner > .item {background-position: center;}