
$color-2: lighten(desaturate(adjust-hue($color-1, -2), 43.59), 25.88);
$color-3: darken(desaturate(adjust-hue($color-1, 11), 20.22), 2.55);
$color-4: lighten(desaturate(adjust-hue($color-1, 6), 31.87), 44.31);

@media (max-width: 992px){
  .navbar-header-1 {display:none;}
  //.change-lang {}
  .change-lang.active {
    //border:4px solid $color-1;
    display:none!important;
  }
  .main-screen .accordion {padding-top:25px;}
  .nav-background {
    .navbar-header-2 {
      transition-property:right;
      transition-duration:1s;
      position: fixed;
      right:40%;
      //&.toggled-on {
      //  right:335px;
      //}
      margin-right: 0;
      margin-left: 20px;
      margin-top: 20px;
      height: 80px;
      a {outline: none;}
      .navbar-logo {
        height: 50px;
        color: #777;
        img{width:120px;}
        &:hover {
          outline:none;
          text-decoration: none;}
      }
      &:active{
        outline:none;
        text-decoration: none;}
    }
    position: fixed;
    top:0;
    display:block;
    width:100%;
    background-color: #f8f8f8;
    height: 80px;
    z-index: 99;
  }
  .menu-btn {
    z-index: 100;
    /*position: absolute;*/
    position:fixed;
    right:10px;
    top: 10px;
    border-radius: 0;
    border: 2px solid #c0c0c0;
    background-color: $color-3;
    text-align: center;
    //box-shadow: 1px 3px 1px 0 rgba(0,0,0,.2);
    width: 58px;
    height: 58px;
    padding: 7px;
    cursor: pointer;
    outline: 0;
    /*float: right;*/
    transition-property:right;
    transition-duration:1s;
    z-index: 999;
  }
  .menu-btn .menu-text {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: .6em;
    margin-top: -1px;
  }
  .menu-btn>img {
    vertical-align: middle;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .menu-btn.toggled-on {
    right:245px;
    //-webkit-transform: translate3d(-300px,0,0);
    //-moz-transform: translate3d(-300px,0,0);
    //-ms-transform: translate3d(-300px,0,0);
    //-o-transform: translate3d(-300px,0,0);
    //transform: translate3d(-300px,0,0);
  }
  .menu-btn-close {
    position:fixed;
    top:10px;
    right:-30px;
    z-index: 999;
    transition-property:right;
    transition-duration:0.9s;
    cursor: pointer;
    >img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
  .menu-btn-close.toggled-on {
    right:10px;
  }

  .cssmenu {
    width: 300px;
    font-family: $font-1;
    font-size: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .nav-menu{
      .navbar-header-1 {
        display:none;
        margin-right: 0;
        margin-left: 15px;
        a {outline: none;}
        .navbar-logo {
          height: 50px;
          color: #777;
          img{width:100px;}
        }
      }
      position: fixed;
      right: -230px;
      top: 0;
      padding-top: 79px;
      padding-left:0;
      background: $color-3;
      bottom: 0;
      width: 230px;
      height: 100%;
      z-index: 99;
      transition-property: right;
      transition-duration: 1s;
      &.toggled-on{
        display: inline-block;
        position: fixed;
        right: 0;
      }
      >li {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        >a{
          &.active {
            background-color: $color-1;
            color:#fff;
          }
          padding: 15px 20px;
          border-top: 1px solid #c9c9c9;
          display:block;
          cursor: pointer;
          z-index: 2;
          font-size: 14px;
          font-weight: 700;
          text-decoration: none;
          color: #121212;
          //text-shadow: 0 1px 1px rgba(0,0,0,.35);
          background: $color-4;
          box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
          &.nav-links{text-transform: uppercase;}
          &.lang-link{text-align: center;}
        }
      }
    }

  }

}



@media (min-width:992px) and (max-width:1200px) {
  //.cssmenu {font-size:16px;}
}

@media (min-width: 992px){
  .menu-btn-close {display:none;}
  .menu-btn {display:none;}
  .nav-background {display:none;}
  .navbar-main-1 {
    height:60px;
    position:fixed;
    top:0;
    width:100%;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    text-align: center;
    min-height: 60px;
    font-family: $font-1;
    font-size: 22px;
    background-color: #f8f8f8;
    z-index: 101;
    .cssmenu {
      display: block!important;
      padding-bottom: 0;
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      .nav-menu{
        float:right;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width:75%;
        //margin-top: 20px;
        >li {
          float: left;
          position: relative;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size:16px;
          &:last-child {
            float:right;
            a {border:0;}
          }
          &:first-child a{border-left:1px solid #c9c9c9;}
          >a{
            &.active {
              background-color: $color-1;
              color:#fff;
            }
            color: #121212;
            line-height: 60px;
            position: relative;
            display: block;
            padding: 0;
            text-decoration: none;
            width:100px;
            border-right:1px solid #c9c9c9;
            transition: 0.4s;
            &:hover {
              background-color: $color-1;
              color:#fff;
            }
          }
        }
      }
    }

    .navbar-header-1 {
      margin-right: 25px;
      float: left;
      width: 20%;
      a {outline: none;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }}
      .navbar-logo {
        width:70%;
        font-size: 18px;
        line-height: 40px;
        color: #777;
        >img {width:100%;}
        &:hover {
          color: #3a3a3a;
          //font-weight: 600;

        }
      }
    }
    //.nav-links{text-transform: uppercase;}
    .change-lang {
      bottom: 7px;
      background-color: transparent !important;
      &.eng {
        //position: absolute;
        //bottom: -5px;
        //left: 1px;
      }
      &.uk {
        //position: absolute;
        //bottom: 10px;
        //left: -5px;
      }
      &.active {
        display:none !important;
        //border: 3px solid $color-1;
      }
    }
  }
}

//@media (min-width: 1400px){
//  .navbar-main-1 .cssmenu .nav-menu {width:90%;}
//}
